<p>
	Feature List:
</p>
<ul>
  <li>Multiple users with login page</li>
  <li><span class="text-strikethrough">
    CRUD operations (Create, Read, Delete, and Edit) for financial line items including:
    <ul>
      <li>Expense Date</li>
      <li>Expense Description</li>
      <li>Expense Amount</li>
      <li>Expense Type</li>
      <li>Payment Type (withdrawal, deposit, credit, cash, cash app, etc)</li>
      <li>Payment Description</li>
    </ul></span>
  </li>
  <li>Monthly rollup</li>
  <li>Yearly rollup</li>
  <li>Excel export</li>
  <li>Excel import</li>
</ul>
