<p>
  Nothing here yet - we will have a financial app here that can do the following:
</p>
<ul>
  <li>Multiple users with login page</li>
  <li>CRUD operations for financial line items including:
    <ul>
      <li>Date</li>
      <li>Item</li>
      <li>Category</li>
      <li>Credit card used</li>
      <li>Zelle/Venmo/Etc.</li>
      <li>Cash</li>
      <li>Check</li>
    </ul>
  </li>
  <li>Monthly rollup</li>
  <li>Yearly rollup</li>
  <li>Excel export</li>
  <li>Excel import</li>
  <li>And more!</li>
</ul>
<router-outlet />
