*.bin
*.vsidx
/.vs
/.vs/slnx.sqlite
/.vs/financialApp/v17
/api/dotNet/FinanceApi/.vs/FinanceApi/CopilotIndices
/api/dotNet/FinanceApi/FinanceApi/bin
/api/dotNet/FinanceApi/FinanceApi/obj
/api/dotNet/FinanceApi/.vs
