<h2 mat-dialog-title>Delete {{inputData.name}}?</h2>
<mat-dialog-content class="mat-typography">
    <ul>
        <li>Position: {{inputData.position}}</li>
        <li>Name: {{inputData.name}}</li>
        <li>Weight: {{inputData.weight}}</li>
        <li>Symbol: {{inputData.symbol}}</li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
</mat-dialog-actions>
