<p>This is going to be a financial application to track expenses.</p>
<p>To see the progress and feature list, please navigate to <a [routerLink]="['/about']">About</a></p>

<p><button mat-flat-button (click)="openAddExpenseModal()">Add</button></p>


<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8"
>
  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let expense">
      <div class="table-icon-column">
        <button mat-icon-button (click)="editExpense(expense.expenseID)">
          <mat-icon class="blue-text">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="confirmDeleteExpense(expense.expenseID)">
          <mat-icon class="red-text">delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Expense Date Column -->
  <ng-container matColumnDef="expenseDate">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Date"
    >
      Date
    </th>
    <td mat-cell *matCellDef="let expense">{{ expense.expenseDate | date:'yyyy/MM/dd' }}</td>
  </ng-container>

  <!-- Expense Description Column -->
  <ng-container matColumnDef="expenseDescription">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Description"
    >
      Description
    </th>
    <td mat-cell *matCellDef="let expense">  
        {{ expense.expenseDescription }}
    </td>
  </ng-container>

  <!-- Expense Amount Column -->
  <ng-container matColumnDef="expenseAmount">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Amount"
    >
      Amount
    </th>
    <td mat-cell *matCellDef="let expense">  
        {{ expense.expenseAmount }}
    </td>
  </ng-container>

  <!-- Expense Type Name Column -->
  <ng-container matColumnDef="expenseTypeName">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Expense Type"
    >
      Expense Type
    </th>
    <td mat-cell *matCellDef="let expense">
        {{ expense.expenseTypeName }}
    </td>
  </ng-container>

  <!-- Payment Type Name Column -->
  <ng-container matColumnDef="paymentTypeName">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Payment Type"
    >
      Payment Type
    </th>
    <td mat-cell *matCellDef="let expense">
        {{ expense.paymentTypeName }}
    </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
