html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.navBar{
    margin: 0px;
}
.body-content {
  margin: 0px 50px;
}
.table-icon-column {
  display: flex;
  flex-wrap: wrap;
  max-width: 100px;
}
.red-text{
  color: rgb(223, 57, 57);
}
.blue-text{
  color: rgb(0, 109, 139);
}