<h2 mat-dialog-title>Add New Element</h2>
<mat-dialog-content class="mat-typography">
    <div class="example-container">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            [formControl]="email"
            (blur)="updateErrorMessage()"
            required
          />
          @if (email.invalid) {
            <mat-error>{{errorMessage()}}</mat-error>
          }
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="submitNewElement()" cdkFocusInitial>Add</button>
</mat-dialog-actions>
