<h2 mat-dialog-title>Delete {{expenseData().expenseDescription}}?</h2>
<mat-dialog-content class="mat-typography">
	<p>Expense:</p>
    <ul>
        <li><span class="fw-bold">Expense date:</span> {{expenseData().expenseDate | date:'yyyy/MM/dd'}}</li>
        <li><span class="fw-bold">Expense description:</span> {{expenseData().expenseDescription}}</li>
        <li><span class="fw-bold">Expense amount:</span> {{expenseData().expenseAmount}}</li>
        <li><span class="fw-bold">Expense type:</span> {{expenseData().expenseTypeName}}</li>
        <li><span class="fw-bold">Payment type:</span> {{expenseData().paymentTypeName}}</li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
</mat-dialog-actions>
