<h2 mat-dialog-title>Delete "{{ expenseData().expenseDescription }}"?</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="row">
      <fieldset class="border fieldset-rounded p-2">
        <legend class="float-none w-auto px-3 fieldset-legend">
          Expense Date
        </legend>
        <span class="fieldset-content">{{ expenseData().expenseDate | date : "yyyy/MM/dd" }}</span>
      </fieldset>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <fieldset class="border fieldset-rounded p-2 top-margin-spacing">
        <legend class="float-none w-auto px-3 fieldset-legend">
          Expense Description
        </legend>
        <span class="fieldset-content">{{ expenseData().expenseDescription }}</span>
      </fieldset>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <fieldset class="border fieldset-rounded p-2 top-margin-spacing">
        <legend class="float-none w-auto px-3 fieldset-legend">
          Expense Amount
        </legend>
        <span class="fieldset-content">{{ expenseData().expenseAmount }}</span>
      </fieldset>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <fieldset class="border fieldset-rounded p-2 top-margin-spacing">
        <legend class="float-none w-auto px-3 fieldset-legend">
          Expense Type
        </legend>
        <span class="fieldset-content">{{ expenseData().expenseTypeName }}</span>
      </fieldset>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <fieldset class="border fieldset-rounded p-2 top-margin-spacing">
        <legend class="float-none w-auto px-3 fieldset-legend">
          Payment Type
        </legend>
        <span class="fieldset-content">{{ expenseData().paymentTypeName }}</span>
      </fieldset>
    </div>
  </div>
  <!-- <ul>
    <li>
      <span class="fw-bold">Expense date:</span>
      {{ expenseData().expenseDate | date : "yyyy/MM/dd" }}
    </li>
    <li>
      <span class="fw-bold">Expense description:</span>
      {{ expenseData().expenseDescription }}
    </li>
    <li>
      <span class="fw-bold">Expense amount:</span>
      {{ expenseData().expenseAmount }}
    </li>
    <li>
      <span class="fw-bold">Expense type:</span>
      {{ expenseData().expenseTypeName }}
    </li>
    <li>
      <span class="fw-bold">Payment type:</span>
      {{ expenseData().paymentTypeName }}
    </li>
  </ul> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
</mat-dialog-actions>
